@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200&family=Iceland&family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
#body
{
    transition: 0.5s;
}
.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.nav nav {
    align-items: center;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.main-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-content img {
    margin: 10px;
    width: 500px;
}
.websitelogo {
    border-radius: 10px;
}
.darkmodebutton
{
    border: black 3px solid;
    border-radius: 5px;
}
.lightmodebutton
{
    border: black 3px solid;
    border-radius: 5px;
}
.websitetitle
{
    text-shadow:rgb(00, 255, 255 ) 2px 2px 2px;
}

.darkmodebutton:hover
{
    text-shadow:rgb(00, 255, 255 ) 2px 2px 2px;
}
.lightmodebutton:hover
{
    text-shadow:rgb(00, 255, 255 ) 2px 2px 2px;
}
